.primary {
  font-family: DMSans;
  display: flex;
  justify-content: center;
  gap: 0.75rem;

  .button {
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.14;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid var(--gray-lighter);
    @include transition(color, border-color);

    &:not(:disabled):hover {
      color: #0096ff;
    }

    &.active {
      color: #0096ff;
      border-color: #0096ff;
      cursor: auto;
    }
  }
}

.secondary {
  display: flex;
  gap: 0.7813rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid var(--gray-lighter);
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  @include breakpoint('lg') {
    gap: 1.4063rem;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  .button {
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    text-shadow: 0 1px 3px rgba(45, 26, 81, 0.3);
    font-family: DMSans;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    color: white;
    border-bottom: 2px solid var(--gray-lighter);
    white-space: nowrap;
    @include transition(color, border-color);

    &:not(:disabled):hover {
      color: #0096ff;
    }

    &.active {
      color: #0096ff;
      border-color: #0096ff;
      cursor: auto;
    }
  }
}
