.root {
  width: fit-content;
}

$widthMobile: 22.375rem;
$widthDesktop: 27rem;

.content {
  display: flex;
  flex-direction: column;
  width: $widthMobile;
  @include breakpoint('lg') {
    width: $widthDesktop;
  }
}

.imageWrapper {
  position: relative;
  width: $widthMobile + 0.25rem;
  height: 12.9375rem;
  @include breakpoint('lg') {
    width: $widthDesktop + 0.25rem;
    height: 15.625rem;
  }
}

.category {
  position: absolute;
  bottom: -0.625rem;
  left: 1.25rem;
}

.image {
  width: $widthMobile + 0.25rem;
  height: 12.9375rem;
  object-fit: cover;
  max-width: none;
  // Hide borders
  margin-left: -0.125rem;
  margin-top: -0.125rem;
  @include breakpoint('lg') {
    width: $widthDesktop + 0.25rem;
    height: 15.625rem;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
  @include breakpoint('lg') {
    padding: 1.25rem;
  }
}

.bottomDetails {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.25rem;
}

.detailsText {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
  font-family: DMSans;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray-lightest);
}

.clock {
  fill: var(--gray-lightest);
}
