.root,
.protocol {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  @include breakpoint('lg') {
    gap: 6.25rem;
  }
}

.scrollSection {
  scroll-margin-top: $mobile-sticky-nav-height;

  @include breakpoint('lg') {
    scroll-margin-top: $desktop-sticky-nav-height;
  }
}

.contact {
  margin-top: 1.25rem;
  @include breakpoint('lg') {
    margin-top: 0;
  }
}
