.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-image: url('/images/backgrounds/mobile.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  @include breakpoint('lg') {
    background-image: url('/images/backgrounds/desktop.png');
  }
}

.main {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  padding: 8.75rem 0.5rem 3.125rem 0.5rem;
  @include breakpoint('lg') {
    padding: 15.75rem 1rem 6.25rem 1rem;
  }
}

.footer {
  margin-top: auto;
  width: 100%;
}
