.root {
  background-color: #2e1a50;
}

.bgImage {
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  position: relative;
  background-image: url('/images/backgrounds/mobile.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  @include breakpoint('md') {
    background-image: url('/images/backgrounds/desktop.jpg');
  }
}
