.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.625rem;

  @include breakpoint('lg') {
    flex-direction: row;
    row-gap: 1.875rem;
    column-gap: 1.5625rem;
    flex-wrap: wrap;
  }
}

.cardItem {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;

  @include breakpoint('lg') {
    max-width: 26.75rem;
  }
  @media only screen and (min-width: 1275px) {
    max-width: 34.125rem;
  }
}

.cardContent {
  height: 100%;
  padding: 1.1875rem 1rem 1rem 1rem;
  @include breakpoint('lg') {
    max-width: 26.75rem;
    padding: 1.0625rem 1.25rem 1.25rem 1.25rem;
  }
}

.cardTitle {
  margin-bottom: 0.875rem;
}
