$circleImageSize: 4.875rem;
$halfCircleImageSize: $circleImageSize / 2;

.root {
  display: flex;
  width: 100%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(
    129deg,
    var(--secondary-main) 17%,
    rgba(56, 201, 255, 0) 34%,
    rgba(26, 174, 255, 0) 72%,
    var(--primary-main) 89%
  );
  border-image-slice: 1;

  // TODO
  background-color: rgba(56, 224, 224, 0.3);

  &.withIcon {
    margin-top: $halfCircleImageSize;
    padding-top: $halfCircleImageSize;
  }

  &.withComingSoon {
    margin-top: 0.75rem;
    padding-top: 0.75rem;
  }
}

.blurBorder {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(
    126deg,
    var(--secondary-main) 18%,
    rgba(57, 202, 255, 0) 53%,
    var(--primary-main) 89%
  );
  border-image-slice: 1;
}

.iconContainer {
  position: absolute;
  top: -$halfCircleImageSize;
  left: 1rem + $halfCircleImageSize;
  transform: translateX(-50%);
  width: 4.875rem;
  height: 4.875rem;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comingSoon {
  position: absolute;
  top: -0.75rem;
  left: 1rem;
}
