@mixin headerMediaQuery() {
  @media only screen and (min-width: 1275px) {
    @content;
  }
}

.root {
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $desktop-sticky-nav-height;
  padding: 0 3rem;

  @include headerMediaQuery {
    justify-content: initial;
  }
}

.logo {
  width: 14.25rem;
  height: initial;
}

.noTextLogo {
  width: 3.125rem;
  height: 3.125rem;
}

.links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 2.1875rem;
}

.link {
  @include transition(color);
  &:hover {
    color: #0096ff;
  }
}

.button {
  @include headerMediaQuery {
    margin-left: auto;
  }
}
