.root {
  text-align: center;
}

.title {
  margin-bottom: 1.25rem;
  @include breakpoint('lg') {
    margin-bottom: 1.875rem;
  }
}

.imageContainer {
  cursor: not-allowed;
}

.mobileImage {
  max-width: 22.3125rem;
  @include breakpoint('lg') {
    max-width: none;
  }
}
