.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem 0.625rem 0.1875rem 0.625rem;
  height: 1.5rem;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(45, 26, 81, 0.3);
  font-family: DMSans;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  color: var(--others-white);
  border-radius: 1rem;
  background-color: var(--gray-darker);
}
