.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  @include breakpoint('lg') {
    gap: 1.5rem;
  }
}

.card {
  padding: 1.25rem;
  width: 100%;
  @include breakpoint('lg') {
    flex-grow: 1;
    max-width: 27rem;
  }
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
  margin-bottom: 0.625rem;
}

.label {
  color: var(--gray-lightest);
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  width: 4.375rem;
  height: 4.375rem;
  background-color: var(--white);
  padding: 8px;
}
