$font-family-primary: 'Poppins', 'Google Sans Text', Arial, Helvetica,
  sans-serif;
$font-family-secondary: 'DMSans', 'Google Sans Text', Arial, Helvetica,
  sans-serif;

$breakpoints: (
  sm: 375px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

// Elements
$mobile-sticky-nav-height: 5rem;
$desktop-sticky-nav-height: 7.625rem;
