/* CSS color vars instead of Sass vars to make working with design easy */

:root {
  --primary-main: #0096ff;
  --primary-lightest: #78c5fb;
  --primary-lighter: #2ea8fd;
  --primary-darker: #007ed6;
  --primary-darkest: #0068b1;

  --secondary-main: #72ffff;
  --secondary-lightest: #caffff;
  --secondary-lighter: #98ffff;
  --secondary-darker: #38e0e0;
  --secondary-darkest: #28c5c5;

  --tertiary-main: #5800ff;
  --tertiary-lightest: #b68fff;
  --tertiary-lighter: #8446f9;
  --tertiary-darker: #4300c1;
  --tertiary-darkest: #2d0180;

  --gray-main: #614b89;
  --gray-lightest: #c0b6d2;
  --gray-lighter: #715f92;
  --gray-darker: #442978;
  --gray-darkest: #2d1a51;

  --text-gray: #c0b6d2;
  --text-dark: #2d1a51;
  --text-white: #ffffff;

  --black: #000000;
  --white: #ffffff;
  —-offwhite: #ebf7ff;

  --succes: #56ff02;
  —-warning: #ff9902;
  —-error: #e50004;
}
