@import './reset';
@import './variables';
@import './fonts';
@import './colors';

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-primary;
  font-weight: 400;
  color: var(--white);
  background-color: var(--gray-darkest);
}
