@import './reset';
@import './variables';
@import './fonts';
@import './colors';

html {
  // Needed !important to make the scroll-behavior work with next/link component
  scroll-behavior: smooth !important;
}

body {
  font-family: $font-family-primary;
  font-weight: 400;
  color: var(--white);
  background-color: var(--gray-darkest);

  *::selection {
    background-color: var(--primary-main);
    color: white;
  }
}
